<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='js/plotly-latest.min.js') }}></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.linkedin.com/in/christopher-estevez/">Linkedin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                
                <li><a href="https://github.com/chrisestevez">Github</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}
        <div class="page-header">
        <br>
            <h1 class="text-center">Case Study Project</h1>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
        <br>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>